<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mypet.mungmoong.mapper.ReserveMapper">

    <select id="list" resultType="Reserve">
        SELECT *
        FROM reserve
        ORDER BY reg_date DESC
    </select>
    <select id="select" resultType="Reserve">
        select *
        FROM reserve
        where order_no = ${order_no}
    </select>
        
    <insert id="insert">
       INSERT INTO reserve(order_no, user_id, date_no,reg_date)
       VALUES (#{order_no}, #{user_id}, #{date_no},#{reg_date})
    </insert>

    <update id="update">
      UPDATE reserve
      SET order_no = #{order_no}
          ,user_id = #{user_id}
          ,date_no = #{date_no}
          ,upd_date = now()
    where order_no = #{no}
    </update>

    <delete id="delete">
     delete FROM reserve
     WHERE  order_no = #{no}
    </delete>

</mapper>